.flipbook-container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 20px 0 20px;
  margin: auto;
  box-sizing: border-box;
}
.App-header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100; /* Ensure the header is above other content */
}

.App-content {
  padding-top: 64px; /* Adjust based on your header's height */
  width: 100%;
  box-sizing: border-box;
}
.map {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 20px 0 20px;
  margin: auto;
  box-sizing: border-box;
}
