.flipbook-container {
  max-width: 1000px; /* Maximum width of the flipbook container */
  width: 100%; /* Make the container take up 100% of its parent's width */
  margin: auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding around the flipbook for spacing */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}
.App-header {
  width: 100%;
  position: fixed; /* or 'absolute' if you prefer */
  top: 0;
  z-index: 1000; /* Ensure the header stays above all content */
}

/* Add some top padding to the main content area to avoid being hidden behind the fixed header */
.App-content {
  padding-top: 70px; /* Adjust based on your header's height */
  /* display: flex; */
  justify-content: center; /* Center the flipbook horizontally */
  align-items: flex-start; /* Align the content to the top, adjust as needed */
  min-height: 100vh; /* Ensure it takes at least the full height of the viewport */
  width: 100%; /* Use the full width */
}
