.flipbook-container {
  max-width: 1000px;
  width: 100%;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
}
.App-header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
}

/* Add some top padding to the main content area to avoid being hidden behind the fixed header */
.App-content {
  padding-top: 30px; /* Adjust based on your header's height */
  /* display: flex; */
  justify-content: center; /* Center the flipbook horizontally */
}
.map {
  max-width: 1000px; /* Maximum width of the flipbook container */
  width: 100%; /* Make the container take up 100% of its parent's width */
  margin: auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding around the flipbook for spacing */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}
